{% extends 'mail/base.html' %}

{% block title %}Страница Рассылок{% endblock %}

{% block content %}



<div class="container">

    <h1 class="my-0 font-weight-normal text-center">Список рассылок с группировкой по статусу</h1>
    <div class="container mt-3">


            {% if mailing_created %}
            <h2 class="my-0 font-weight-normal">Созданные рассылки:</h2>
            {% for mailing in mailing_created %}

            <h4 class="my-0 font-weight-normal mt-3">Тема рассылки: {{ mailing.message.subject }}</h4>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:mailing_detail' mailing.pk %}" role="button">Подробнее</a>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:mailing_update' mailing.pk %}" role="button">Изменить</a>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:send_one_mail_created' mailing.pk %}" role="button">Отправить</a>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:finish_mailing' mailing.pk %}" role="button">Завершить</a>
                </div>
              </div>


        {% endfor %}
        {% endif %}
    </div>

        <div class="container mt-5">

            {% if mailing_active %}

            <h2 class="my-0 font-weight-normal">Активные рассылки:</h2>
            {% for mailing in mailing_active %}
            <h4 class="my-0 font-weight-normal mt-3">Тема рассылки: {{mailing.message.subject}}</h4>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:mailing_detail' mailing.pk %}" role="button">Подробнее</a>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:mailing_update' mailing.pk %}" role="button">Изменить</a>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:send_one_mail_active' mailing.pk %}" role="button">Отправить</a>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:finish_mailing' mailing.pk %}" role="button">Завершить</a>
                </div>
              </div>
        {% endfor %}
        {% endif %}

    </div>

    <div class="container mt-5">


            {% if mailing_finished %}
            <h2 class="my-0 font-weight-normal">Завершённые рассылки:</h2>
            {% for mailing in mailing_finished %}
            <h4 class="my-0 font-weight-normal mt-3">Тема рассылки: {{mailing.message.subject}}</h4>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:mailing_detail' mailing.pk %}" role="button">Подробнее</a>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:mailing_update' mailing.pk %}" role="button">Изменить</a>
                </div>
              </div>
        {% endfor %}
        {% endif %}

    </div>

</div>

<div class="container">

        {% for mailing in object_list.objects %}
        {% if mailing.status == 'создана' %}

        <div class="container mt-3">
            <h4 class="my-0 font-weight-normal">Рассылка: {{ mailing }}</h4>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:mailing_detail' mailing.pk %}" role="button">Подробнее</a>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:mailing_update' mailing.pk %}" role="button">Изменить</a>
                </div>
              </div>
        </div>
        {% endif %}
        {% endfor %}
</div>

<div class="container">
    <div class="container mt-5">
        <div class="btn-group">
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:mailing_create' %}" role="button">Добавить рассылку</a>

        </div>
    </div>
</div>


{% endblock %}