{% extends 'mail/base.html' %}

{% block title %}
  <title>Страница получателей</title>
{% endblock %}

{% block content %}



<div class="container">
    <div class="container mt-5">
            <h1 class="my-0 font-weight-normal text-center">ПОЛУЧАТЕЛИ РАССЫЛКИ</h1>
    </div>
    </div>
    <div class="container ">
        <div class="container mt-5">
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <div class="btn-group">
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:recipient_create' %}" role="button">Добавить получателя</a>
            </div>
            </div>
        </div>
    </div>
        {% for recipient in object_list %}

        <div class="container mt-3">
            <h4 class="my-0 font-weight-normal">Получатель: {{ recipient }}</h4>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:recipient_detail' recipient.pk %}" role="button">Подробнее</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mail:recipient_update' recipient.pk %}" role="button">Изменить</a>
                </div>
              </div>
        </div>
        {% endfor %}

{% endblock %}